include includes/head.pug

  include includes/header.pug

  h2 This is my awesome page content.
  .visuallyhidden
    // inject:svg
    // endinject
  // inject:js
  script(src='https://cdn.polyfill.io/v2/polyfill.min.js')

include includes/footer.pug
